@font-face {
  font-family: "Vazirmatn";
  src: url("./font/Vazirmatn[wght].woff2") format("woff2 supports variations"),
    url("./font/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./font/Inter.var.woff2") format("woff2 supports variations"),
    url("./font/Inter.var.woff2") format("woff2-variations");
}
:root {
  --font-family-vazir: "Vazirmatn", sans-serif;
  --font-family-inter: "Inter var", sans-serif;
}

* {
  user-select: none !important;
}

[dir="rtl"] * {
  font-family: var(--font-family-vazir);
}

[dir="ltr"] * {
  font-family: var(--font-family-inter);
}

[dir="rtl"] body {
  font-feature-settings: "ss01";
}

a {
  text-decoration: none;
}

[class*="Image-root"] figure,
[class*="Image-imageWrapper"],
[class*="Image-root"] img {
  height: 100% !important;
}

.rsm-svg *:focus {
  outline: none;
}

/* apex chart custom class */
[dir="rtl"] .apexcharts-title-text {
  text-anchor: end;
}
[dir="rtl"] .apexcharts-xaxis text tspan {
  text-anchor: middle;
}
[dir="rtl"] .apexcharts-yaxis text tspan {
  text-anchor: start;
}
/* apex chart custom class */

.pulse {
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.fade-in-down {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

/* text editor */
.quill {
  border-radius: 0.25rem;
}
.ql-toolbar.ql-snow {
  border-start-end-radius: 0.25rem;
  border-start-start-radius: 0.25rem;
}
.ql-container.ql-snow {
  border-end-end-radius: 0.25rem;
  border-end-start-radius: 0.25rem;
}
.ql-editor {
  min-height: 15rem;
}
/* text editor */

/* animation */
@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
